.git
.gitignore
README.md
LICENSE
docker-compose.yml
run.sh
Dockerfile
.dockerignore
*/__pycache__/*
*.pyc
*.pyo
*.pyd
.pytest_cache
.coverage
.venv
venv/
.env.example
.cursorignore
*.log
.DS_Store
readme_imgs/*
